numpy
PyMuPDF
Pillow
opencv-python
pytesseract
pdf2image


-----------------------------------------------------------------------

pdfplumber
pandas



tesseract-ocr
paddleocr
layoutparser
detectron2
camelot-py
torch
torchvision
transformers
spacy
fastapi
uvicorn
streamlit
gradio
jupyterlab
