--------------------------pdf-ocr-dl----------------------------------
numpy
PyMuPDF
Pillow
opencv-python
pytesseract (need Tesseract OCR https://github.com/tesseract-ocr/tesseract)
pdf2image
paddlepaddle
paddleocr
matplotlib
jupyterlab
layoutparser
camelot-py[cv]
yolov5 (and requirements)


-----------------------------labelimg-env---------------------------
labelImg


-----------------------------------------------------------------------

pdfplumber
pandas



tesseract-ocr


detectron2
camelot-py
torch
torchvision
transformers
spacy
fastapi
uvicorn
streamlit
gradio

